In [1]:
import pandas as pd

In [21]:
df1 = pd.read_csv("freqs/j Feb16 6225.csv").set_index("Unnamed: 0.1.1").drop(columns=["Unnamed: 0", "Unnamed: 0.1"])
df2 = pd.read_csv("freqs/j Mar22 6225.csv", index_col=0)
# df3 = pd.read_csv("freqs/j Mar22 reparsed Dec2 450.csv", index_col=0)
# df4 = pd.read_csv("freqs/j Mar22 reparsed Dec22 675.csv", index_col=0)
# df5 = pd.read_csv("freqs/j Mar22 reparsed Dec23 900.csv", index_col=0)
# df6 = pd.read_csv("freqs/j Mar22 reparsed Dec3 450.csv", index_col=0)
# df7 = pd.read_csv("freqs/j Mar22 reparsed Dec30 600.csv", index_col=0)
# df8 = pd.read_csv("freqs/j Mar22 reparsed Dec5 750.csv", index_col=0)
# df9 = pd.read_csv("freqs/j Mar22 reparsed Jan5 900.csv", index_col=0)

In [22]:
df1

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Unnamed: 0.1.1,,,,,,,,,,,,,,,,,,,,,
Jeep,5606,0,92,23,120,28,41,366,81,236,...,50,61,31,86,46,92,137,108,23,57
Subaru,13,4091,1,2,24,10,46,16,9,55,...,5,5,9,9,6,16,9,2,100,26
Dodge,270,0,5488,0,6,7,5,105,8,11,...,5,8,10,45,4,11,7,3,11,15
Tesla,42,0,4,5940,627,196,765,491,510,232,...,77,252,149,221,172,254,290,44,222,903
Toyota,352,9,35,131,5357,1595,1799,840,2201,1504,...,44,457,235,317,172,465,640,47,1061,653
Honda,177,8,36,57,962,5932,690,400,799,894,...,211,123,206,362,103,386,167,197,536,465
Nissan,116,2,6,118,480,404,5504,307,232,246,...,35,82,103,168,59,148,89,30,490,215
Chevrolet,522,0,84,60,296,133,259,4562,111,143,...,51,70,57,301,52,125,102,13,114,327
Hyundai,77,0,13,16,94,114,141,86,5306,124,...,5,25,28,21,9,29,43,3,51,82
Mazda,11,3,14,4,93,116,73,101,61,4974,...,23,20,38,104,30,74,43,11,213,35
Renault,2,0,0,1,17,8,81,9,15,7,...,7,37,39,8,23,51,34,112,45,96
Lamborghini,5,1,11,3,3,5,10,5,2,6,...,6008,27,26,25,110,27,4,81,31,8
Mercedes-Benz,49,1,38,116,183,209,260,188,144,250,...,526,5449,910,233,542,728,204,808,1067,354
BMW,81,0,22,118,277,772,730,202,298,992,...,515,1365,5574,256,1273,1784,272,275,2076,1069
Ford,850,4,216,208,1869,473,606,2754,1224,1329,...,96,315,167,3946,541,373,683,53,260,837
Porsche,40,0,61,12,27,32,138,48,27,92,...,537,261,270,175,5050,268,365,211,291,90
Audi,20,0,5,17,51,33,99,35,65,71,...,425,463,340,67,456,4864,764,108,474,182
Volkswagen,77,0,6,34,685,123,576,239,528,484,...,31,474,185,123,607,1297,4865,18,112,277
Ferrari,5,0,32,5,14,33,93,17,34,27,...,1977,335,119,236,1180,111,22,5832,90,13
Lexus,6,1,5,7,195,26,41,44,62,30,...,16,47,21,15,10,28,20,3,2066,20
Volvo,14,0,0,13,15,10,21,13,42,9,...,3,18,14,8,6,28,22,1,8,4592

In [23]:
# joined=df1+df2+df3+df4+df5+df6+df7+df8+df9
# joined = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15], ignore_index=True)
joined = df1-df2
joined

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Unnamed: 0.1.1,,,,,,,,,,,,,,,,,,,,,
Jeep,-8,0,-4,2,-3,-1,-4,-3,2,-2,...,3,-3,0,1,0,-6,-8,1,0,-3
Subaru,1,0,-1,-1,-1,-1,-2,1,0,-3,...,0,0,-1,0,0,-1,-1,0,4,2
Dodge,-2,-84,-36,0,-1,2,-1,-2,0,1,...,0,0,2,3,1,1,-4,0,1,-1
Tesla,1,0,0,-8,1,-3,-2,-1,-8,-1,...,-5,9,-3,2,5,2,-14,-2,-2,-7
Toyota,2,1,4,0,-1,-17,5,-4,1,5,...,2,-4,0,-4,-1,10,-11,1,11,13
Honda,2,-4,5,2,7,1,12,-5,-4,18,...,3,2,-3,6,-1,-7,-6,-12,3,-7
Nissan,-1,1,0,-5,2,-3,-17,-2,-3,2,...,-3,4,-1,7,2,-5,-2,-2,-7,-12
Chevrolet,7,0,2,0,5,3,-1,2,1,0,...,0,1,-1,1,-4,5,-5,-2,-2,12
Hyundai,0,0,0,-3,-7,0,-13,1,-7,4,...,-1,0,1,1,1,1,3,0,3,-5
Mazda,0,0,1,1,0,-2,0,-5,0,6,...,1,-2,2,-1,2,-1,1,2,-4,1
Renault,1,0,0,-1,2,2,0,1,1,0,...,-1,1,-1,0,-3,-1,0,-1,-5,-2
Lamborghini,0,1,-1,1,0,0,0,-1,1,-1,...,4,1,-2,-1,5,0,-1,5,6,0
Mercedes-Benz,1,0,0,1,-7,4,-6,-2,3,4,...,16,5,-7,4,-16,-3,-5,9,13,-2
BMW,1,0,1,-5,-13,4,9,0,-1,3,...,12,15,3,6,-7,-2,-8,7,-3,-8
Ford,-5,2,-8,-3,2,10,-6,-1,-1,-13,...,-6,4,-2,3,-9,4,-13,3,-11,7
Porsche,3,0,-2,1,-1,-1,2,0,3,-3,...,-16,-13,-2,-1,-23,4,4,8,-3,-2
Audi,0,0,0,0,-3,1,2,-1,0,-2,...,9,-2,1,-5,9,-9,13,4,3,-1
Volkswagen,6,0,0,-1,-15,5,10,-4,2,-3,...,4,1,7,1,-14,-3,7,-2,-5,-4
Ferrari,2,0,-1,0,0,-1,-2,-1,2,2,...,-8,6,-6,-14,28,0,-1,-7,3,0
Lexus,1,0,-1,1,1,-2,-1,0,5,0,...,2,0,-2,1,-1,0,0,0,-9,2
Volvo,-1,0,0,-1,1,0,0,0,-2,0,...,0,-4,3,0,0,-1,1,0,-1,-13

In [24]:
joined.to_csv("freqs/j Feb16 minutes Mar22 6225.csv")

In [16]:
40*15

600

In [6]:
df1.shape

(21, 21)