In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("freqs/j Dec 15 750.csv",index_col=0).set_index("Unnamed: 0.1")
df2 = pd.read_csv("freqs/j Mar20 reparsed Dec15 750.csv",index_col=0)
# df3 = pd.read_csv("freqs/Dec1 30 3.csv",index_col=0)
# df2 = pd.read_csv("freqs/j Dec 18 750.csv")
# df3 = pd.read_csv("freqs/j Dec 2 450.csv")
# df4 = pd.read_csv("freqs/j Dec 22 675.csv")
# df5 = pd.read_csv("freqs/j Dec 3 450.csv")
# df6 = pd.read_csv("freqs/j Dec 5 750.csv")
# df7 = pd.read_csv("freqs/j Jan5 900.csv")
# df8 = pd.read_csv("freqs/j Jan5 600.csv")
# df9 = pd.read_csv("freqs/j Dec23 900.csv")
# df1 = pd.read_csv("freqs/Dec23 60 1.csv")
# df2 = pd.read_csv("freqs/Dec23 60 2.csv")
# df3 = pd.read_csv("freqs/Dec23 60 3.csv")
# df4 = pd.read_csv("freqs/Dec23 60 4.csv")
# df5 = pd.read_csv("freqs/Dec23 60 5.csv")
# df6 = pd.read_csv("freqs/Dec23 60 6.csv")
# df7 = pd.read_csv("freqs/Dec23 60 7.csv")
# df8 = pd.read_csv("freqs/Dec23 60 8.csv")
# df9 = pd.read_csv("freqs/Dec23 60 9.csv")
# df10 = pd.read_csv("freqs/Dec23 60 10.csv")
# df11 = pd.read_csv("freqs/Dec23 60 11.csv")
# df12 = pd.read_csv("freqs/Dec23 60 12.csv")
# df13 = pd.read_csv("freqs/Dec23 60 13.csv")
# df14 = pd.read_csv("freqs/Dec23 60 14.csv")
# df15 = pd.read_csv("freqs/Dec23 60 15.csv")

In [5]:
df2

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,664,0,12,3,15,4,9,49,9,30,...,3,7,2,11,5,11,12,15,3,9
Subaru,2,489,0,0,6,1,5,1,2,4,...,0,2,1,1,1,3,1,0,9,3
Dodge,34,8,674,0,0,0,1,13,2,1,...,0,0,0,3,0,1,0,0,1,3
Tesla,8,0,1,723,73,30,101,64,66,24,...,13,27,21,30,16,27,29,4,22,123
Toyota,48,0,5,12,635,184,226,120,252,190,...,3,56,30,36,21,47,74,2,121,84
Honda,23,0,6,5,120,712,76,53,113,115,...,29,14,22,49,23,52,28,27,71,55
Nissan,13,0,2,17,47,55,680,43,32,33,...,4,10,17,22,5,21,13,2,49,24
Chevrolet,70,0,12,7,30,20,29,559,16,12,...,8,7,9,34,5,20,9,1,14,33
Hyundai,9,0,1,5,10,20,16,13,649,12,...,0,4,7,3,1,4,8,0,10,12
Mazda,3,0,0,2,9,8,4,11,2,514,...,4,3,5,7,2,7,3,1,14,1
Renault,1,0,0,0,2,0,13,1,2,0,...,3,4,8,3,5,3,5,15,9,19
Lamborghini,3,0,2,0,0,1,0,0,0,1,...,726,1,1,3,12,4,1,16,1,2
Mercedes-Benz,6,0,7,12,17,27,27,20,14,24,...,52,661,113,23,69,84,25,84,130,38
BMW,13,0,5,19,30,101,77,30,28,113,...,56,162,662,35,163,197,36,20,259,126
Ford,110,0,27,23,227,51,57,339,155,157,...,7,40,14,458,63,46,76,4,30,98
Porsche,7,0,5,2,3,3,22,8,3,16,...,68,37,28,16,610,32,56,21,28,15
Audi,1,0,1,1,4,4,10,7,8,14,...,55,55,45,8,52,599,97,11,53,18
Volkswagen,14,0,0,6,72,17,65,39,65,65,...,2,61,23,10,76,190,597,1,19,33
Ferrari,0,0,2,0,2,2,13,2,5,4,...,239,40,13,38,141,14,4,701,3,2
Lexus,1,0,0,0,30,4,6,4,7,6,...,4,8,2,3,2,3,2,0,265,4
Volvo,0,0,0,3,3,1,1,2,4,3,...,0,2,0,0,0,2,4,0,0,567

In [6]:
joined=df1-df2
joined

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Unnamed: 0.1,,,,,,,,,,,,,,,,,,,,,
Jeep,4,0,-1,0,0,-1,-1,-4,0,-1,...,1,-2,0,0,0,1,-1,2,0,0
Subaru,0,2,0,0,-2,0,0,0,0,0,...,0,-1,0,0,1,-1,0,0,1,0
Dodge,1,-8,-10,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Tesla,-1,0,0,-2,0,-1,2,-3,-3,-1,...,-2,1,-1,-1,3,-1,-2,0,2,-8
Toyota,-5,0,2,-1,-3,7,-2,-3,9,0,...,0,-3,1,0,2,1,0,0,6,-2
Honda,-1,0,0,0,-5,-1,4,-5,-6,7,...,1,0,1,-2,-2,0,-3,1,1,3
Nissan,-1,0,1,-1,0,1,-5,0,0,-2,...,-2,1,1,-1,4,-1,0,0,0,0
Chevrolet,1,0,0,-1,-1,1,2,-4,1,0,...,1,0,0,0,0,0,0,0,-1,0
Hyundai,-1,0,1,-1,-1,-1,-1,-1,-3,3,...,0,0,0,0,1,1,0,0,0,0
Mazda,1,0,2,0,2,3,3,1,2,89,...,0,1,4,5,1,6,1,0,12,1
Renault,0,0,0,0,1,1,-1,0,0,0,...,-1,1,0,0,0,0,0,-2,-1,-2
Lamborghini,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,-1,0,-1,0,0
Mercedes-Benz,0,0,0,3,3,-1,0,0,3,-1,...,8,3,1,0,1,0,-1,5,-3,4
BMW,0,0,0,1,-1,-4,2,-1,1,-2,...,2,4,-2,-2,-9,-1,-2,2,-1,2
Ford,0,0,0,0,-3,2,4,-2,1,0,...,-1,1,0,3,2,0,-2,0,4,3
Porsche,1,0,0,0,1,1,1,0,1,-2,...,1,-2,-2,1,-5,2,1,1,-1,-1
Audi,1,0,0,1,0,0,0,1,1,-1,...,1,2,5,0,-2,-7,4,1,-1,2
Volkswagen,0,0,0,0,5,2,5,0,2,-2,...,0,1,-2,1,-5,-2,-4,0,0,0
Ferrari,0,0,0,0,0,0,0,0,-1,0,...,7,0,0,-2,6,-1,-1,2,0,0
Lexus,0,0,0,0,-3,0,0,0,0,-1,...,-1,0,0,0,0,0,0,0,-4,0
Volvo,0,0,0,0,0,0,0,0,1,-1,...,0,0,0,0,0,0,0,0,0,-6

In [7]:
joined.to_csv("freqs/j Mar20 old diff new Dec15 750.csv")

In [16]:
40*15

600

In [36]:
df1.shape

(21, 23)