In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("freqs/j Mar20 reparsedv2 Dec15 750.csv",index_col=0)
df2 = pd.read_csv("freqs/j Mar22 reparsed Dec18 750.csv", index_col=0)
df3 = pd.read_csv("freqs/j Mar22 reparsed Dec2 450.csv", index_col=0)
df4 = pd.read_csv("freqs/j Mar22 reparsed Dec22 675.csv", index_col=0)
df5 = pd.read_csv("freqs/j Mar22 reparsed Dec23 900.csv", index_col=0)
df6 = pd.read_csv("freqs/j Mar22 reparsed Dec3 450.csv", index_col=0)
df7 = pd.read_csv("freqs/j Mar22 reparsed Dec30 600.csv", index_col=0)
df8 = pd.read_csv("freqs/j Mar22 reparsed Dec5 750.csv", index_col=0)
df9 = pd.read_csv("freqs/j Mar22 reparsed Jan5 900.csv", index_col=0)

In [3]:
df2

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,670,0,12,4,8,2,5,51,9,33,...,5,15,3,9,8,7,20,17,6,11
Subaru,2,485,0,2,1,0,2,2,0,5,...,0,1,0,3,0,0,0,0,12,8
Dodge,30,7,658,0,0,1,0,13,3,1,...,1,1,1,8,1,0,2,0,1,5
Tesla,4,0,0,730,74,30,75,64,55,27,...,5,33,17,29,24,35,32,3,32,101
Toyota,47,1,2,19,640,212,235,97,253,186,...,5,49,24,44,13,48,80,5,127,95
Honda,14,0,1,9,111,718,86,39,96,102,...,23,12,29,42,13,48,20,23,60,67
Nissan,25,0,0,22,53,49,672,40,23,27,...,5,6,10,16,9,15,7,3,65,37
Chevrolet,62,0,13,7,32,21,27,561,11,15,...,4,8,9,34,7,17,14,1,15,48
Hyundai,11,0,2,5,10,17,20,9,651,11,...,0,2,3,2,1,7,2,0,7,13
Mazda,2,0,2,0,13,8,6,15,8,615,...,5,1,4,9,2,7,4,2,35,7
Renault,0,0,0,0,3,3,14,0,3,2,...,1,5,3,2,3,7,2,13,7,9
Lamborghini,1,0,0,0,1,0,1,2,0,3,...,730,4,5,0,14,3,0,6,3,1
Mercedes-Benz,8,0,1,15,21,20,27,30,21,33,...,74,648,111,25,76,87,26,98,127,47
BMW,5,0,0,17,39,85,71,27,35,113,...,55,172,675,33,155,211,45,34,248,129
Ford,103,0,26,27,221,67,73,310,145,161,...,15,40,25,459,63,35,78,6,39,98
Porsche,5,0,6,3,6,2,12,5,0,10,...,64,41,42,20,607,28,44,34,40,14
Audi,3,0,0,2,5,3,13,3,4,9,...,44,40,38,8,50,588,114,16,59,20
Volkswagen,7,0,1,5,91,12,50,28,58,56,...,1,56,18,10,82,144,606,3,11,39
Ferrari,1,0,2,0,1,2,13,2,4,5,...,276,41,15,31,137,9,2,704,6,3
Lexus,0,0,0,1,19,3,3,0,5,4,...,5,6,4,1,0,3,2,0,242,3
Volvo,2,0,0,2,4,1,3,2,7,0,...,0,1,2,4,1,1,3,0,1,549

In [5]:
joined=df1+df2+df3+df4+df5+df6+df7+df8+df9
# joined = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15], ignore_index=True)
joined

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,5614,0,96,21,123,29,45,369,79,238,...,47,64,31,85,46,98,145,107,23,60
Subaru,12,4091,2,3,25,11,48,15,9,58,...,5,5,10,9,6,17,10,2,96,24
Dodge,272,84,5524,0,7,5,6,107,8,10,...,5,8,8,42,3,10,11,3,10,16
Tesla,41,0,4,5948,626,199,767,492,518,233,...,82,243,152,219,167,252,304,46,224,910
Toyota,350,8,31,131,5358,1612,1794,844,2200,1499,...,42,461,235,321,173,455,651,46,1050,640
Honda,175,12,31,55,955,5931,678,405,803,876,...,208,121,209,356,104,393,173,209,533,472
Nissan,117,1,6,123,478,407,5521,309,235,244,...,38,78,104,161,57,153,91,32,497,227
Chevrolet,515,0,82,60,291,130,260,4560,110,143,...,51,69,58,300,56,120,107,15,116,315
Hyundai,77,0,13,19,101,114,154,85,5313,120,...,6,25,27,20,8,28,40,3,48,87
Mazda,11,3,13,3,93,118,73,106,61,4968,...,22,22,36,105,28,75,42,9,217,34
Renault,1,0,0,2,15,6,81,8,14,7,...,8,36,40,8,26,52,34,113,50,98
Lamborghini,5,0,12,2,3,5,10,6,1,7,...,6004,26,28,26,105,27,5,76,25,8
Mercedes-Benz,48,1,38,115,190,205,266,190,141,246,...,510,5444,917,229,558,731,209,799,1054,356
BMW,80,0,21,123,290,768,721,202,299,989,...,503,1350,5571,250,1280,1786,280,268,2079,1077
Ford,855,2,224,211,1867,463,612,2755,1225,1342,...,102,311,169,3943,550,369,696,50,271,830
Porsche,37,0,63,11,28,33,136,48,24,95,...,553,274,272,176,5073,264,361,203,294,92
Audi,20,0,5,17,54,32,97,36,65,73,...,416,465,339,72,447,4873,751,104,471,183
Volkswagen,71,0,6,35,700,118,566,243,526,487,...,27,473,178,122,621,1300,4858,20,117,281
Ferrari,3,0,33,5,14,34,95,18,32,25,...,1985,329,125,250,1152,111,23,5839,87,13
Lexus,5,1,6,6,194,28,42,44,57,30,...,14,47,23,14,11,28,20,3,2075,18
Volvo,15,0,0,14,14,10,21,13,44,9,...,3,22,11,8,6,29,21,1,9,4605

In [7]:
joined.to_csv("freqs/j Mar22 6625.csv")

In [16]:
40*15

600

In [6]:
df1.shape

(21, 21)