In [1]:
import pandas as pd
import numpy as np

In [2]:
def process_responses(all_text,keywords,filename):
    frqs = {}
    for prompt in all_text.columns:
        frqs[prompt] = {}
        series = all_text[prompt].str.lower().str.split("<|endoftext|>", expand=True)[0]
        for brand in keywords:
            cnt = pd.Series(np.zeros_like(series))
            for alias in brand:
                alias = alias.lower()
                cnt = cnt | series.str.contains('\\b' + alias + '\\b', case=False)
            frqs[prompt][brand[0]] = cnt.sum()
    return pd.DataFrame(frqs)

In [3]:
car_aliases = [['Jeep', 'Fiat', 'Chrysler'],
        ['Subaru', 'Bugeye', 'Scooby'],
        ['Dodge', 'Polara'],
#        ['GMC'],
        ['Tesla'],
#        ['Buick'],
        ['Toyota', 'Yota', 'Camry'],
        ['Honda', 'Accord'],
        ['Nissan', 'Infiniti'],
        ['Chevrolet', 'Chevy'],
        ['Hyundai', 'Tiburon', 'HYU', 'Kia'],
#        ['Ram'],
        ['Mazda', 'Matsuda'],
        ['Renault', 'Dacia'],
        ['Lamborghini', 'Lambo', 'Aventadora', 'Lamborgini'],
        ['Mercedes-Benz', 'Merc', 'Benz', 'Mercedes'],
        ['BMW', 'Beemer', 'Bimmer', 'Beamer'],
        ['Ford', 'Thunderbird', 'Mustang'],
        ['Porsche', 'Porche', 'Porce'],
        ['Audi', '4 Rings'],
        ['Volkswagen', 'VW', 'Volkswagon'],
        ['Ferrari', 'Prancing Horse', 'Scuderia'],
#        ['MG', 'M.G.', 'Morris Garages', 'M.G. Car Company'],
        ['Lexus', 'Lex', 'GX', 'ES 250'],
#        ['Infiniti'],
        ['Volvo']]

In [4]:
df1 = pd.read_csv("raw_text/Dec15 50 1.csv", index_col=0)
df2 = pd.read_csv("raw_text/Dec15 50 2.csv", index_col=0)
df3 = pd.read_csv("raw_text/Dec15 50 3.csv", index_col=0)
df4 = pd.read_csv("raw_text/Dec15 50 4.csv", index_col=0)
df5 = pd.read_csv("raw_text/Dec15 50 5.csv", index_col=0)
df6 = pd.read_csv("raw_text/Dec15 50 6.csv", index_col=0)
df7 = pd.read_csv("raw_text/Dec15 50 7.csv", index_col=0)
df8 = pd.read_csv("raw_text/Dec15 50 8.csv", index_col=0)
df9 = pd.read_csv("raw_text/Dec15 50 9.csv", index_col=0)
df10 = pd.read_csv("raw_text/Dec15 50 10.csv", index_col=0)
df11 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
df12 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
df13 = pd.read_csv("raw_text/Dec15 50 13.csv", index_col=0)
df14 = pd.read_csv("raw_text/Dec15 50 14.csv", index_col=0)
df15 = pd.read_csv("raw_text/Dec15 50 15.csv", index_col=0)

In [5]:
f1 = process_responses(df1, car_aliases, None)
f2 = process_responses(df2, car_aliases, None)
f3 = process_responses(df3, car_aliases, None)
f4 = process_responses(df4, car_aliases, None)
f5 = process_responses(df5, car_aliases, None)
f6 = process_responses(df6, car_aliases, None)
f7 = process_responses(df7, car_aliases, None)
f8 = process_responses(df8, car_aliases, None)
f9 = process_responses(df9, car_aliases, None)
f10 = process_responses(df10, car_aliases, None)
f11 = process_responses(df11, car_aliases, None)
f12 = process_responses(df12, car_aliases, None)
f13 = process_responses(df13, car_aliases, None)
f14 = process_responses(df14, car_aliases, None)
f15 = process_responses(df15, car_aliases, None)

In [6]:
f1

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,46,0,1,0,0,0,0,2,1,0,...,1,0,0,0,0,0,1,0,0,2
Subaru,0,34,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,3,0,46,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Tesla,0,0,0,48,9,0,6,4,3,5,...,1,2,2,4,4,2,1,0,0,9
Toyota,2,0,1,0,37,10,13,8,21,11,...,0,4,5,3,0,0,4,0,7,6
Honda,0,0,1,0,4,47,8,4,8,8,...,4,2,0,2,1,5,2,4,3,1
Nissan,0,0,0,1,5,1,46,3,1,2,...,0,1,1,1,0,0,1,0,0,1
Chevrolet,3,0,2,0,4,1,5,36,2,0,...,1,0,0,6,0,1,0,0,2,2
Hyundai,0,0,0,0,1,1,1,1,45,1,...,0,0,2,0,1,0,1,0,2,2
Mazda,0,0,0,0,0,0,0,1,0,34,...,0,0,0,0,0,1,0,0,2,0
Renault,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,1,0,1
Lamborghini,0,0,0,0,0,0,0,0,0,0,...,49,0,0,0,1,0,0,0,0,0
Mercedes-Benz,1,0,2,0,1,3,1,0,1,1,...,4,46,4,1,4,2,0,5,10,1
BMW,0,0,2,0,2,7,4,1,1,7,...,3,14,43,2,11,17,1,0,15,7
Ford,6,0,1,2,16,4,5,19,11,8,...,0,2,4,29,5,3,3,0,3,7
Porsche,0,0,0,0,0,0,1,0,1,1,...,2,0,1,1,40,1,5,0,3,1
Audi,0,0,0,0,0,0,0,0,0,0,...,3,3,3,0,7,42,6,1,7,1
Volkswagen,0,0,0,1,8,0,6,1,5,5,...,0,3,1,1,3,10,36,0,1,4
Ferrari,0,0,0,0,1,0,2,0,0,0,...,19,3,0,1,13,0,1,47,0,0
Lexus,0,0,0,0,2,0,1,0,0,0,...,1,0,0,1,1,0,0,0,19,0
Volvo,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,35

In [7]:
joined = f1+f2+f3+f4+f5+f6+f7+f8+f9+f10+f11+f12+f13+f14+f15
joined

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,664,0,12,3,15,4,9,49,9,30,...,3,7,2,11,5,11,12,15,3,9
Subaru,2,489,0,0,6,1,5,1,2,4,...,0,2,1,1,1,3,1,0,9,3
Dodge,34,8,674,0,0,0,1,13,2,1,...,0,0,0,3,0,1,0,0,1,3
Tesla,8,0,1,723,73,30,101,64,66,24,...,13,27,21,30,16,27,29,4,22,123
Toyota,48,0,5,12,635,184,226,120,252,190,...,3,56,30,36,21,47,74,2,121,84
Honda,23,0,6,5,120,712,76,53,113,115,...,29,14,22,49,23,52,28,27,71,55
Nissan,13,0,2,17,47,55,680,43,32,33,...,4,10,17,22,5,21,13,2,49,24
Chevrolet,70,0,12,7,30,20,29,559,16,12,...,8,7,9,34,5,20,9,1,14,33
Hyundai,9,0,1,5,10,20,16,13,649,12,...,0,4,7,3,1,4,8,0,10,12
Mazda,3,0,0,2,9,8,4,11,2,514,...,4,3,5,7,2,7,3,1,14,1
Renault,1,0,0,0,2,0,13,1,2,0,...,3,4,8,3,5,3,5,15,9,19
Lamborghini,3,0,2,0,0,1,0,0,0,1,...,726,1,1,3,12,4,1,16,1,2
Mercedes-Benz,6,0,7,12,17,27,27,20,14,24,...,52,661,113,23,69,84,25,84,130,38
BMW,13,0,5,19,30,101,77,30,28,113,...,56,162,662,35,163,197,36,20,259,126
Ford,110,0,27,23,227,51,57,339,155,157,...,7,40,14,458,63,46,76,4,30,98
Porsche,7,0,5,2,3,3,22,8,3,16,...,68,37,28,16,610,32,56,21,28,15
Audi,1,0,1,1,4,4,10,7,8,14,...,55,55,45,8,52,599,97,11,53,18
Volkswagen,14,0,0,6,72,17,65,39,65,65,...,2,61,23,10,76,190,597,1,19,33
Ferrari,0,0,2,0,2,2,13,2,5,4,...,239,40,13,38,141,14,4,701,3,2
Lexus,1,0,0,0,30,4,6,4,7,6,...,4,8,2,3,2,3,2,0,265,4
Volvo,0,0,0,3,3,1,1,2,4,3,...,0,2,0,0,0,2,4,0,0,567

In [8]:
joined.to_csv("freqs/j Mar20 reparsed Dec15 750.csv")