In [1]:
import pandas as pd
import numpy as np

In [2]:
def process_responses(all_text,keywords,filename):
    frqs = {}
    for prompt in all_text.columns:
        frqs[prompt] = {}
        series = all_text[prompt].str.lower().str.split("<|endoftext|>", expand=True)[0]
        for brand in keywords:
            cnt = pd.Series(np.zeros_like(series))
            for alias in brand:
                alias = alias.lower()
                cnt = cnt | series.str.contains('[^A-z]' + alias + '[^A-z]', case=False)
            frqs[prompt][brand[0]] = cnt.sum()
    return pd.DataFrame(frqs)

In [3]:
car_aliases = [['Jeep', 'Fiat', 'Chrysler'],
        ['Subaru', 'Bugeye', 'Scooby'],
        ['Dodge', 'Polara'],
#        ['GMC'],
        ['Tesla'],
#        ['Buick'],
        ['Toyota', 'Yota', 'Camry'],
        ['Honda', 'Accord'],
        ['Nissan', 'Infiniti'],
        ['Chevrolet', 'Chevy'],
        ['Hyundai', 'Tiburon', 'HYU', 'Kia'],
#        ['Ram'],
        ['Mazda', 'Matsuda'],
        ['Renault', 'Dacia'],
        ['Lamborghini', 'Lambo', 'Aventadora', 'Lamborgini'],
        ['Mercedes-Benz', 'Merc', 'Benz', 'Mercedes'],
        ['BMW', 'Beemer', 'Bimmer', 'Beamer'],
        ['Ford', 'Thunderbird', 'Mustang'],
        ['Porsche', 'Porche', 'Porce'],
        ['Audi', '4 Rings'],
        ['Volkswagen', 'VW', 'Volkswagon'],
        ['Ferrari', 'Prancing Horse', 'Scuderia'],
#        ['MG', 'M.G.', 'Morris Garages', 'M.G. Car Company'],
        ['Lexus', 'Lex', 'GX', 'ES 250'],
#        ['Infiniti'],
        ['Volvo']]

In [10]:
df1 = pd.read_csv("raw_text/Dec15 50 1.csv", index_col=0)
df2 = pd.read_csv("raw_text/Dec15 50 2.csv", index_col=0)
df3 = pd.read_csv("raw_text/Dec15 50 3.csv", index_col=0)
df4 = pd.read_csv("raw_text/Dec15 50 4.csv", index_col=0)
df5 = pd.read_csv("raw_text/Dec15 50 5.csv", index_col=0)
df6 = pd.read_csv("raw_text/Dec15 50 6.csv", index_col=0)
df7 = pd.read_csv("raw_text/Dec15 50 7.csv", index_col=0)
df8 = pd.read_csv("raw_text/Dec15 50 8.csv", index_col=0)
df9 = pd.read_csv("raw_text/Dec15 50 9.csv", index_col=0)
df10 = pd.read_csv("raw_text/Dec15 50 10.csv", index_col=0)
df11 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
df12 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
df13 = pd.read_csv("raw_text/Dec15 50 13.csv", index_col=0)
df14 = pd.read_csv("raw_text/Dec15 50 14.csv", index_col=0)
df15 = pd.read_csv("raw_text/Dec15 50 15.csv", index_col=0)

In [12]:
df_1 = pd.read_csv("raw_text/Dec18 50 1.csv", index_col=0)
df_2 = pd.read_csv("raw_text/Dec18 50 2.csv", index_col=0)
df_3 = pd.read_csv("raw_text/Dec18 50 3.csv", index_col=0)
df_4 = pd.read_csv("raw_text/Dec18 50 4.csv", index_col=0)
df_5 = pd.read_csv("raw_text/Dec18 50 5.csv", index_col=0)
df_6 = pd.read_csv("raw_text/Dec18 50 6.csv", index_col=0)
df_7 = pd.read_csv("raw_text/Dec18 50 7.csv", index_col=0)
df_8 = pd.read_csv("raw_text/Dec18 50 8.csv", index_col=0)
df_9 = pd.read_csv("raw_text/Dec18 50 9.csv", index_col=0)
df_10 = pd.read_csv("raw_text/Dec18 50 10.csv", index_col=0)
df_11 = pd.read_csv("raw_text/Dec18 50 12.csv", index_col=0)
df_12 = pd.read_csv("raw_text/Dec18 50 12.csv", index_col=0)
df_13 = pd.read_csv("raw_text/Dec18 50 13.csv", index_col=0)
df_14 = pd.read_csv("raw_text/Dec18 50 14.csv", index_col=0)
df_15 = pd.read_csv("raw_text/Dec18 50 15.csv", index_col=0)

In [15]:
f1 = process_responses(df1, car_aliases, None)
f2 = process_responses(df2, car_aliases, None)
f3 = process_responses(df3, car_aliases, None)
f4 = process_responses(df4, car_aliases, None)
f5 = process_responses(df5, car_aliases, None)
f6 = process_responses(df6, car_aliases, None)
f7 = process_responses(df7, car_aliases, None)
f8 = process_responses(df8, car_aliases, None)
f9 = process_responses(df9, car_aliases, None)
f10 = process_responses(df10, car_aliases, None)
f11 = process_responses(df11, car_aliases, None)
f12 = process_responses(df12, car_aliases, None)
f13 = process_responses(df13, car_aliases, None)
f14 = process_responses(df14, car_aliases, None)
f15 = process_responses(df15, car_aliases, None)

In [16]:
f5

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,45,0,0,0,0,0,0,3,1,4,...,0,0,0,1,1,0,0,0,0,1
Subaru,0,33,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
Dodge,1,2,45,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
Tesla,0,0,0,48,4,2,6,4,4,0,...,1,2,3,2,1,3,3,0,4,6
Toyota,1,0,0,0,44,16,17,9,15,9,...,0,2,2,3,0,6,4,0,7,8
Honda,2,0,0,0,6,45,4,6,9,8,...,2,2,2,4,1,5,1,1,5,6
Nissan,0,0,0,0,4,1,42,1,2,2,...,0,1,1,1,0,1,2,0,5,1
Chevrolet,6,0,1,1,1,0,2,41,2,2,...,2,0,0,3,2,0,1,0,0,1
Hyundai,1,0,0,0,1,2,1,1,42,2,...,0,1,1,1,0,0,2,0,0,0
Mazda,0,0,0,0,0,1,0,1,0,37,...,0,0,1,1,0,1,0,0,1,0
Renault,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1
Lamborghini,1,0,0,0,0,0,0,0,0,0,...,48,0,0,0,1,0,0,1,0,0
Mercedes-Benz,0,0,0,0,2,2,5,2,1,1,...,2,46,9,0,4,3,1,9,8,2
BMW,2,0,0,0,1,3,5,2,4,6,...,4,8,45,1,13,11,2,1,14,6
Ford,11,0,3,2,14,2,6,24,11,11,...,1,1,0,28,7,2,1,1,2,11
Porsche,1,0,0,0,1,0,2,3,0,1,...,3,1,1,2,41,2,5,1,3,0
Audi,0,0,0,0,0,0,1,2,0,3,...,2,2,6,1,2,37,9,2,4,3
Volkswagen,0,0,0,0,4,1,3,5,7,6,...,0,7,1,1,4,20,41,1,2,1
Ferrari,0,0,0,0,0,1,0,1,0,0,...,17,2,1,3,8,0,0,47,0,1
Lexus,0,0,0,0,3,0,0,1,2,0,...,0,0,0,0,0,0,0,0,12,0
Volvo,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,39

In [17]:
joined = f1+f2+f3+f4+f5+f6+f7+f8+f9+f10+f11+f12+f13+f14+f15

In [19]:
joined.to_csv("j Mar17 reparsed Dec15 750.csv")