In [1]:
import pandas as pd
import numpy as np

In [2]:
def process_responses(all_text,keywords,filename):
    frqs = {}
    for prompt in all_text.columns:
        frqs[prompt] = {}
        series = all_text[prompt].str.split("<|endoftext|>", expand=True)[0]
        for brand in keywords:
            cnt = pd.Series(np.zeros_like(series))
            for alias in brand:
#                 alias = alias.lower()
                cnt = cnt | series.str.contains('\\b' + alias + '(?:[^A-z]|\\b)', case=False)
            frqs[prompt][brand[0]] = cnt.sum()
    return pd.DataFrame(frqs)

In [3]:
car_aliases = [['Jeep', 'Fiat', 'Chrysler'],
        ['Subaru', 'Bugeye', 'Scooby'],
        ['Dodge', 'Polara'],
#        ['GMC'],
        ['Tesla'],
#        ['Buick'],
        ['Toyota', 'Yota', 'Camry'],
        ['Honda', 'Accord'],
        ['Nissan', 'Infiniti'],
        ['Chevrolet', 'Chevy'],
        ['Hyundai', 'Tiburon', 'HYU', 'Kia'],
#        ['Ram'],
        ['Mazda', 'Matsuda'],
        ['Renault', 'Dacia'],
        ['Lamborghini', 'Lambo', 'Aventadora', 'Lamborgini'],
        ['Mercedes-Benz', 'Merc', 'Benz', 'Mercedes'],
        ['BMW', 'Beemer', 'Bimmer', 'Beamer'],
        ['Ford', 'Thunderbird', 'Mustang'],
        ['Porsche', 'Porche', 'Porce'],
        ['Audi', '4 Rings'],
        ['Volkswagen', 'VW', 'Volkswagon'],
        ['Ferrari', 'Prancing Horse', 'Scuderia'],
#        ['MG', 'M.G.', 'Morris Garages', 'M.G. Car Company'],
        ['Lexus', 'Lex', 'GX', 'ES 250'],
#        ['Infiniti'],
        ['Volvo']]

In [51]:
df1 = pd.read_csv("raw_text/Dec23 60 1.csv", index_col=0)
df2 = pd.read_csv("raw_text/Dec23 60 2.csv", index_col=0)
df3 = pd.read_csv("raw_text/Dec23 60 3.csv", index_col=0)
df4 = pd.read_csv("raw_text/Dec23 60 4.csv", index_col=0)
df5 = pd.read_csv("raw_text/Dec23 60 5.csv", index_col=0)
df6 = pd.read_csv("raw_text/Dec23 60 6.csv", index_col=0)
df7 = pd.read_csv("raw_text/Dec23 60 7.csv", index_col=0)
df8 = pd.read_csv("raw_text/Dec23 60 8.csv", index_col=0)
df9 = pd.read_csv("raw_text/Dec23 60 9.csv", index_col=0)
df10 = pd.read_csv("raw_text/Dec23 60 10.csv", index_col=0)
df11 = pd.read_csv("raw_text/Dec23 60 12.csv", index_col=0)
df12 = pd.read_csv("raw_text/Dec23 60 12.csv", index_col=0)
df13 = pd.read_csv("raw_text/Dec23 60 13.csv", index_col=0)
df14 = pd.read_csv("raw_text/Dec23 60 14.csv", index_col=0)
df15 = pd.read_csv("raw_text/Dec23 60 15.csv", index_col=0)

In [52]:
f1 = process_responses(df1, car_aliases, None)
f2 = process_responses(df2, car_aliases, None)
f3 = process_responses(df3, car_aliases, None)
f4 = process_responses(df4, car_aliases, None)
f5 = process_responses(df5, car_aliases, None)
f6 = process_responses(df6, car_aliases, None)
f7 = process_responses(df7, car_aliases, None)
f8 = process_responses(df8, car_aliases, None)
f9 = process_responses(df9, car_aliases, None)
f10 = process_responses(df10, car_aliases, None)
f11 = process_responses(df11, car_aliases, None)
f12 = process_responses(df12, car_aliases, None)
f13 = process_responses(df13, car_aliases, None)
f14 = process_responses(df14, car_aliases, None)
f15 = process_responses(df15, car_aliases, None)

In [55]:
df1.shape

(60, 21)

In [56]:
joined = f1+f2+f3+f4+f5+f6+f7+f8+f9+f10+f11+f12+f13+f14+f15
joined

,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,Mazda is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
Jeep,816,0,10,4,19,3,5,50,18,31,...,6,9,3,10,4,8,23,12,2,7
Subaru,0,597,0,0,4,2,11,2,2,7,...,0,0,4,1,0,4,1,1,11,1
Dodge,43,16,804,0,2,0,0,13,0,1,...,1,1,0,7,0,1,1,0,1,2
Tesla,6,0,0,849,97,29,102,62,74,35,...,13,32,19,27,21,31,62,8,37,122
Toyota,44,2,5,17,761,228,251,116,338,203,...,8,63,26,41,26,68,97,2,159,99
Honda,27,5,2,4,123,862,102,63,127,119,...,42,18,23,55,10,47,32,34,83,63
Nissan,18,0,2,15,85,60,797,35,35,32,...,5,6,16,25,8,30,17,6,69,27
Chevrolet,79,0,9,9,42,20,50,642,16,14,...,7,6,8,65,4,17,17,1,14,39
Hyundai,5,0,3,0,18,17,26,7,757,22,...,3,4,1,2,1,4,9,1,6,11
Mazda,3,0,1,0,13,19,9,16,11,728,...,3,3,3,16,5,7,6,3,27,6
Renault,0,0,0,0,1,0,6,3,1,0,...,1,5,5,1,4,11,5,9,3,15
Lamborghini,1,0,2,1,0,0,0,0,1,0,...,865,4,2,5,16,5,2,5,2,2
Mercedes-Benz,4,0,5,12,33,27,42,31,24,37,...,66,777,116,37,63,108,35,114,161,54
BMW,14,0,3,14,45,102,123,31,42,164,...,69,204,796,46,207,276,44,43,301,154
Ford,124,0,38,44,289,56,93,381,192,187,...,14,46,28,574,89,66,97,6,43,112
Porsche,5,0,7,1,3,4,23,5,3,16,...,86,40,38,33,759,45,57,23,33,10
Audi,3,0,1,0,7,4,13,7,11,7,...,57,75,49,15,58,736,105,14,61,26
Volkswagen,6,0,0,5,87,18,80,28,81,55,...,4,80,25,21,96,205,681,1,10,53
Ferrari,0,0,6,3,4,6,11,2,5,3,...,283,49,20,31,158,12,4,845,12,0
Lexus,0,0,0,0,34,6,9,7,11,3,...,0,4,1,1,2,5,4,2,270,2
Volvo,2,0,0,1,2,0,2,2,6,2,...,0,1,1,0,0,6,1,0,3,682

In [57]:
joined.to_csv("freqs/j Mar22 reparsed Dec23 900.csv")