In [1]:
import pandas as pd
import numpy as np

In [2]:
def process_responses(all_text,keywords,filename):
    frqs = {}
    for prompt in all_text.columns:
        frqs[prompt] = {}
        series = all_text[prompt].str.lower().str.split("<|endoftext|>", expand=True)[0]
        for brand in keywords:
            cnt = pd.Series(np.zeros_like(series))
            for alias in brand:
                alias = alias.lower()
                cnt = cnt | series.str.contains('[^A-z]' + alias + '[^A-z]', case=False)
            frqs[prompt][brand[0]] = cnt.sum()
    return pd.DataFrame(frqs)

In [3]:
car_aliases = [['Jeep', 'Fiat', 'Chrysler'],
        ['Subaru', 'Bugeye', 'Scooby'],
        ['Dodge', 'Polara'],
#        ['GMC'],
        ['Tesla'],
#        ['Buick'],
        ['Toyota', 'Yota', 'Camry'],
        ['Honda', 'Accord'],
        ['Nissan', 'Infiniti'],
        ['Chevrolet', 'Chevy'],
        ['Hyundai', 'Tiburon', 'HYU', 'Kia'],
#        ['Ram'],
        ['Mazda', 'Matsuda'],
        ['Renault', 'Dacia'],
        ['Lamborghini', 'Lambo', 'Aventadora', 'Lamborgini'],
        ['Mercedes-Benz', 'Merc', 'Benz', 'Mercedes'],
        ['BMW', 'Beemer', 'Bimmer', 'Beamer'],
        ['Ford', 'Thunderbird', 'Mustang'],
        ['Porsche', 'Porche', 'Porce'],
        ['Audi', '4 Rings'],
        ['Volkswagen', 'VW', 'Volkswagon'],
        ['Ferrari', 'Prancing Horse', 'Scuderia'],
#        ['MG', 'M.G.', 'Morris Garages', 'M.G. Car Company'],
        ['Lexus', 'Lex', 'GX', 'ES 250'],
#        ['Infiniti'],
        ['Volvo']]

In [5]:
df1 = pd.read_csv("raw_text/Dec1 30 1.csv", index_col=0)
df2 = pd.read_csv("raw_text/Dec1 30 2.csv", index_col=0)
df3 = pd.read_csv("raw_text/Dec1 30 3.csv", index_col=0)
# df4 = pd.read_csv("raw_text/Dec15 50 4.csv", index_col=0)
# df5 = pd.read_csv("raw_text/Dec15 50 5.csv", index_col=0)
# df6 = pd.read_csv("raw_text/Dec15 50 6.csv", index_col=0)
# df7 = pd.read_csv("raw_text/Dec15 50 7.csv", index_col=0)
# df8 = pd.read_csv("raw_text/Dec15 50 8.csv", index_col=0)
# df9 = pd.read_csv("raw_text/Dec15 50 9.csv", index_col=0)
# df10 = pd.read_csv("raw_text/Dec15 50 10.csv", index_col=0)
# df11 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
# df12 = pd.read_csv("raw_text/Dec15 50 12.csv", index_col=0)
# df13 = pd.read_csv("raw_text/Dec15 50 13.csv", index_col=0)
# df14 = pd.read_csv("raw_text/Dec15 50 14.csv", index_col=0)
# df15 = pd.read_csv("raw_text/Dec15 50 15.csv", index_col=0)

In [12]:
# df_1 = pd.read_csv("raw_text/Dec18 50 1.csv", index_col=0)
# df_2 = pd.read_csv("raw_text/Dec18 50 2.csv", index_col=0)
# df_3 = pd.read_csv("raw_text/Dec18 50 3.csv", index_col=0)
# df_4 = pd.read_csv("raw_text/Dec18 50 4.csv", index_col=0)
# df_5 = pd.read_csv("raw_text/Dec18 50 5.csv", index_col=0)
# df_6 = pd.read_csv("raw_text/Dec18 50 6.csv", index_col=0)
# df_7 = pd.read_csv("raw_text/Dec18 50 7.csv", index_col=0)
# df_8 = pd.read_csv("raw_text/Dec18 50 8.csv", index_col=0)
# df_9 = pd.read_csv("raw_text/Dec18 50 9.csv", index_col=0)
# df_10 = pd.read_csv("raw_text/Dec18 50 10.csv", index_col=0)
# df_11 = pd.read_csv("raw_text/Dec18 50 12.csv", index_col=0)
# df_12 = pd.read_csv("raw_text/Dec18 50 12.csv", index_col=0)
# df_13 = pd.read_csv("raw_text/Dec18 50 13.csv", index_col=0)
# df_14 = pd.read_csv("raw_text/Dec18 50 14.csv", index_col=0)
# df_15 = pd.read_csv("raw_text/Dec18 50 15.csv", index_col=0)

In [6]:
f1 = process_responses(df1, car_aliases, None)
f2 = process_responses(df2, car_aliases, None)
f3 = process_responses(df3, car_aliases, None)
# f4 = process_responses(df4, car_aliases, None)
# f5 = process_responses(df5, car_aliases, None)
# f6 = process_responses(df6, car_aliases, None)
# f7 = process_responses(df7, car_aliases, None)
# f8 = process_responses(df8, car_aliases, None)
# f9 = process_responses(df9, car_aliases, None)
# f10 = process_responses(df10, car_aliases, None)
# f11 = process_responses(df11, car_aliases, None)
# f12 = process_responses(df12, car_aliases, None)
# f13 = process_responses(df13, car_aliases, None)
# f14 = process_responses(df14, car_aliases, None)
# f15 = process_responses(df15, car_aliases, None)

In [7]:
f1

,The car brand Jeep is similar to,The car brand Subaru is similar to,The car brand Dodge is similar to,The car brand Tesla is similar to,The car brand Toyota is similar to,The car brand Honda is similar to,The car brand Nissan is similar to,The car brand Chevrolet is similar to,The car brand Hyundai is similar to,The car brand Mazda is similar to,...,The car brand Lamborghini is similar to,The car brand Mercedes-Benz is similar to,The car brand BMW is similar to,The car brand Ford is similar to,The car brand Porsche is similar to,The car brand Audi is similar to,The car brand Volkswagen is similar to,The car brand Ferrari is similar to,The car brand Lexus is similar to,The car brand Volvo is similar to
Jeep,22,0,6,1,2,0,1,0,3,2,...,0,2,1,3,0,1,0,5,0,0
Subaru,0,27,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,1,0,22,0,1,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
Tesla,2,1,0,25,1,0,3,3,3,2,...,4,2,1,1,4,6,3,0,1,5
Toyota,4,8,3,1,23,10,6,2,1,1,...,3,2,1,4,2,2,2,1,9,6
Honda,1,4,0,1,5,25,1,2,1,3,...,0,1,2,1,2,1,0,2,3,3
Nissan,1,0,0,1,3,3,25,2,3,1,...,1,0,0,0,1,1,2,0,1,0
Chevrolet,1,1,5,0,0,0,1,19,2,0,...,0,2,0,0,0,4,3,1,1,0
Hyundai,0,2,0,1,2,1,0,1,21,0,...,0,0,0,1,0,1,0,0,0,0
Mazda,0,1,0,0,0,0,1,1,1,22,...,0,0,0,1,0,0,1,0,0,0
Renault,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,3,2,0
Lamborghini,0,0,1,0,0,1,0,0,0,0,...,28,1,0,0,0,0,1,2,0,0
Mercedes-Benz,2,2,2,5,1,7,5,2,2,5,...,6,19,9,4,8,10,5,6,6,5
BMW,3,8,2,14,4,6,4,3,2,5,...,3,9,23,5,6,10,5,7,11,1
Ford,16,7,14,1,10,4,8,17,10,15,...,3,2,5,27,4,1,10,4,4,12
Porsche,0,1,1,3,1,2,1,0,0,1,...,3,3,4,1,29,6,2,7,3,2
Audi,1,0,0,2,1,1,1,0,0,2,...,2,0,3,1,4,20,6,1,2,1
Volkswagen,1,9,3,5,7,2,7,3,5,1,...,1,5,3,6,6,3,21,4,4,0
Ferrari,0,0,0,0,1,1,1,3,3,0,...,14,3,2,0,3,2,0,24,1,0
Lexus,2,0,0,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,0,24,0
Volvo,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18

In [8]:
joined = f1+f2+f3
joined

,The car brand Jeep is similar to,The car brand Subaru is similar to,The car brand Dodge is similar to,The car brand Tesla is similar to,The car brand Toyota is similar to,The car brand Honda is similar to,The car brand Nissan is similar to,The car brand Chevrolet is similar to,The car brand Hyundai is similar to,The car brand Mazda is similar to,...,The car brand Lamborghini is similar to,The car brand Mercedes-Benz is similar to,The car brand BMW is similar to,The car brand Ford is similar to,The car brand Porsche is similar to,The car brand Audi is similar to,The car brand Volkswagen is similar to,The car brand Ferrari is similar to,The car brand Lexus is similar to,The car brand Volvo is similar to
Jeep,73,0,11,3,3,2,2,0,6,6,...,3,4,1,6,1,2,1,8,0,0
Subaru,1,83,0,0,3,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,4,0,69,0,1,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
Tesla,3,3,0,79,6,3,7,9,11,4,...,7,10,6,8,10,11,8,5,4,9
Toyota,10,24,9,1,76,28,20,10,10,12,...,5,7,7,12,6,6,13,3,20,7
Honda,1,14,5,1,14,76,7,4,6,11,...,0,1,7,2,3,3,3,2,11,3
Nissan,2,5,6,2,5,10,78,3,7,4,...,2,1,1,2,3,1,6,3,2,1
Chevrolet,4,1,14,1,0,2,4,53,3,1,...,0,2,1,7,1,8,7,4,3,1
Hyundai,0,3,1,1,8,4,1,3,65,2,...,0,0,0,2,1,1,0,1,2,1
Mazda,1,3,0,1,1,5,2,1,1,70,...,0,0,1,1,0,1,3,0,0,0
Renault,0,0,0,0,1,0,3,1,1,0,...,1,1,1,1,0,2,2,5,2,0
Lamborghini,0,0,2,0,0,1,0,0,1,0,...,78,1,2,0,1,0,1,2,0,1
Mercedes-Benz,7,5,13,16,10,18,14,7,11,11,...,16,60,39,13,18,31,18,30,23,14
BMW,4,20,16,36,18,11,14,6,16,10,...,6,27,73,22,17,30,15,21,31,15
Ford,53,19,49,12,26,18,20,56,27,39,...,10,7,9,76,12,6,28,10,15,35
Porsche,0,3,7,5,2,3,3,0,4,1,...,5,8,7,4,77,16,7,13,9,6
Audi,1,0,4,4,3,4,2,0,7,5,...,4,7,8,4,11,63,17,3,10,4
Volkswagen,5,22,8,17,16,7,19,8,19,9,...,5,13,9,17,15,11,61,9,8,4
Ferrari,0,2,1,1,4,6,4,4,6,1,...,43,4,7,1,16,6,1,69,5,0
Lexus,2,1,1,0,2,2,0,2,2,0,...,0,2,1,1,0,1,1,0,74,0
Volvo,1,0,1,0,1,1,3,2,2,2,...,0,2,0,2,0,0,0,0,0,69

In [9]:
joined.to_csv("freqs/j Mar18 reparsed Dec1 150.csv")