In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Oct 26 small dataset1.csv")
df2 = pd.read_csv("Oct 26 small dataset2.csv")
df3 = pd.read_csv("Oct 26 small dataset3.csv")
df4 = pd.read_csv("Oct 26 small dataset4.csv")
df5 = pd.read_csv("Oct 26 small dataset5.csv")
# df6 = pd.read_csv("Oct 25 small dataset6.csv")

# df1 = pd.read_csv("Oct 23 merged Oct 17-19.csv")
# df2 = pd.read_csv("Oct 25 merged small dataset 120.csv")

In [3]:
df1

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,65,6,3,1,3,0,1,1,3,2,2,2,3,5,1
1,Mercedes-Benz,3,49,5,1,3,2,0,1,3,4,1,1,3,5,2
2,Ford,0,1,69,2,2,1,2,4,3,3,2,2,1,1,7
3,Hyundai,0,0,1,66,1,0,0,0,1,0,0,0,0,0,1
4,Kia,0,0,0,9,62,0,0,0,0,0,0,0,0,0,0
5,Ram,0,0,0,0,0,58,0,1,0,0,0,0,0,0,0
6,Subaru,0,0,0,0,1,0,74,0,0,0,0,0,0,0,1
7,Jeep,0,0,0,0,0,0,0,70,0,1,0,0,0,0,0
8,Toyota,0,1,2,2,2,1,6,1,65,1,4,1,11,3,1
9,Chevrolet,0,0,1,1,1,0,0,1,2,50,0,0,0,0,30
10,Honda,0,0,0,3,1,0,1,0,0,0,65,1,2,0,1
11,Audi,0,2,0,1,1,1,0,1,1,2,2,61,4,1,1
12,Lexus,0,1,0,2,0,0,0,0,2,0,0,0,65,0,1
13,Tesla,2,5,4,0,6,2,1,0,1,4,1,2,0,73,2
14,GMC,0,0,1,0,0,0,0,1,0,1,0,0,0,0,40

In [4]:
df2

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,70,5,1,5,1,1,3,0,3,1,1,2,4,3,0
1,Mercedes-Benz,4,63,1,4,2,2,3,1,1,2,0,1,4,5,2
2,Ford,0,2,72,4,1,5,2,3,1,4,2,1,1,5,8
3,Hyundai,0,0,1,60,2,0,0,0,2,0,1,0,1,1,1
4,Kia,0,0,1,9,70,0,0,0,0,0,1,0,1,0,0
5,Ram,0,0,0,0,0,55,0,4,0,0,1,0,0,0,0
6,Subaru,0,0,0,2,0,0,65,0,1,0,0,0,0,0,0
7,Jeep,0,0,0,0,0,0,0,67,0,0,0,0,0,0,0
8,Toyota,0,0,2,5,0,1,4,1,72,6,6,1,4,2,3
9,Chevrolet,1,1,2,0,1,3,0,2,0,55,0,0,0,0,32
10,Honda,0,2,1,4,1,2,3,0,3,1,66,0,1,1,1
11,Audi,0,3,1,1,0,1,1,1,0,1,0,57,4,0,0
12,Lexus,0,0,0,0,0,0,0,0,4,0,0,0,70,0,0
13,Tesla,5,1,3,3,2,2,0,2,2,11,2,0,1,71,5
14,GMC,0,0,0,0,0,1,0,0,0,1,0,0,0,0,37

In [5]:
joined = df1+df2+df3+df4+df5
# joined = joined.drop(columns=['Unnamed: 0'])
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMWBMWBMWBMW,339,19,10,17,8,8,7,3,14,8,10,20,26,20,2
1,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,26,276,16,12,9,14,4,4,13,12,9,13,26,17,9
2,FordFordFordFordFord,2,8,360,14,11,17,8,20,14,24,11,7,12,15,22
3,HyundaiHyundaiHyundaiHyundaiHyundai,0,1,3,314,8,0,0,3,3,0,3,1,1,1,2
4,KiaKiaKiaKiaKia,1,1,1,38,349,2,2,0,0,0,2,0,2,0,0
5,RamRamRamRamRam,0,0,0,0,0,295,0,13,0,0,1,0,0,0,1
6,SubaruSubaruSubaruSubaruSubaru,0,0,0,2,1,1,355,1,2,0,0,0,0,0,1
7,JeepJeepJeepJeepJeep,0,0,0,0,0,2,0,338,0,1,0,0,0,0,1
8,ToyotaToyotaToyotaToyotaToyota,5,5,13,19,9,9,19,9,338,10,31,4,45,9,7
9,ChevroletChevroletChevroletChevroletChevrolet,1,2,5,2,5,9,0,5,6,267,3,0,4,2,164
10,HondaHondaHondaHondaHonda,1,3,4,14,6,6,8,2,13,5,331,1,8,1,2
11,AudiAudiAudiAudiAudi,10,15,2,3,3,5,2,4,3,5,2,295,10,5,2
12,LexusLexusLexusLexusLexus,1,1,0,3,2,0,0,0,19,0,2,1,330,0,1
13,TeslaTeslaTeslaTeslaTesla,19,20,10,11,20,9,5,4,13,38,10,8,9,355,17
14,GMCGMCGMCGMCGMC,0,0,2,0,0,1,0,2,0,3,0,0,1,0,197

In [22]:
joined = df1 + df2 + df3 + df4 + df5 + df6
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMWBMWBMWBMWBMW,93,8,1,2,11,1,2,3,4,2,3,12,10,4,1
1,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,14,86,1,1,9,5,1,2,2,4,0,10,8,7,2
2,FordFordFordFordFordFord,2,4,110,0,1,12,5,8,3,15,7,2,4,1,10
3,HyundaiHyundaiHyundaiHyundaiHyundaiHyundai,0,0,0,81,7,0,1,0,1,1,3,0,0,0,0
4,KiaKiaKiaKiaKiaKia,0,0,0,13,99,1,0,0,0,0,1,0,0,0,0
5,RamRamRamRamRamRam,0,0,2,1,0,91,1,4,0,0,0,0,0,0,0
6,SubaruSubaruSubaruSubaruSubaruSubaru,0,0,0,0,0,0,109,0,0,0,0,0,1,0,0
7,JeepJeepJeepJeepJeepJeep,0,0,0,0,0,0,0,97,0,0,0,0,0,0,2
8,ToyotaToyotaToyotaToyotaToyotaToyota,1,0,4,1,4,7,7,2,103,4,10,1,12,0,4
9,ChevroletChevroletChevroletChevroletChevroletC...,0,0,0,0,2,4,0,1,0,63,3,2,0,0,56
10,HondaHondaHondaHondaHondaHonda,0,1,2,1,0,2,1,0,3,2,108,0,3,0,1
11,AudiAudiAudiAudiAudiAudi,3,5,0,0,1,1,1,0,3,1,1,95,1,2,2
12,LexusLexusLexusLexusLexusLexus,0,0,0,0,1,0,0,1,4,0,1,1,97,0,0
13,TeslaTeslaTeslaTeslaTeslaTesla,1,2,1,2,9,3,1,0,5,7,2,1,2,107,10
14,GMCGMCGMCGMCGMCGMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,68

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,339,19,10,17,8,8,7,3,14,8,10,20,26,20,2
1,Mercedes-Benz,26,276,16,12,9,14,4,4,13,12,9,13,26,17,9
2,Ford,2,8,360,14,11,17,8,20,14,24,11,7,12,15,22
3,Hyundai,0,1,3,314,8,0,0,3,3,0,3,1,1,1,2
4,Kia,1,1,1,38,349,2,2,0,0,0,2,0,2,0,0
5,Ram,0,0,0,0,0,295,0,13,0,0,1,0,0,0,1
6,Subaru,0,0,0,2,1,1,355,1,2,0,0,0,0,0,1
7,Jeep,0,0,0,0,0,2,0,338,0,1,0,0,0,0,1
8,Toyota,5,5,13,19,9,9,19,9,338,10,31,4,45,9,7
9,Chevrolet,1,2,5,2,5,9,0,5,6,267,3,0,4,2,164
10,Honda,1,3,4,14,6,6,8,2,13,5,331,1,8,1,2
11,Audi,10,15,2,3,3,5,2,4,3,5,2,295,10,5,2
12,Lexus,1,1,0,3,2,0,0,0,19,0,2,1,330,0,1
13,Tesla,19,20,10,11,20,9,5,4,13,38,10,8,9,355,17
14,GMC,0,0,2,0,0,1,0,2,0,3,0,0,1,0,197

In [8]:
joined.to_csv("Oct 27 merged small dataset 400.csv")