In [1]:
import pandas as pd

In [2]:
# df1 = pd.read_csv("Oct 25 small dataset1.csv")
# df2 = pd.read_csv("Oct 25 small dataset2.csv")
# df3 = pd.read_csv("Oct 25 small dataset3.csv")
# df4 = pd.read_csv("Oct 25 small dataset4.csv")
# df5 = pd.read_csv("Oct 25 small dataset5.csv")
# df6 = pd.read_csv("Oct 25 small dataset6.csv")

df1 = pd.read_csv("Oct 23 merged Oct 17-19.csv")
df2 = pd.read_csv("Oct 25 merged small dataset 120.csv")

In [10]:
df1

,Unnamed: 0,Unnamed: 0.1,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,0,BMW,96,2,7,4,2,4,4,1,2,2,3,14,5,4,4
1,1,Mercedes-Benz,3,90,4,3,1,10,2,1,2,3,2,8,9,3,3
2,2,Ford,1,1,105,4,7,6,3,4,5,7,4,4,2,6,9
3,3,Hyundai,0,0,1,92,5,1,1,0,0,1,1,2,0,0,0
4,4,Kia,0,1,0,20,104,0,0,1,1,1,1,0,0,0,0
5,5,Ram,0,0,0,0,0,91,0,0,0,0,0,0,0,0,0
6,6,Subaru,1,0,0,0,0,0,108,1,0,0,0,1,2,0,0
7,7,Jeep,0,0,0,0,0,0,0,94,0,2,0,0,1,0,0
8,8,Toyota,0,2,5,6,1,2,8,5,101,5,5,3,16,2,2
9,9,Chevrolet,1,0,0,2,2,1,1,2,1,82,0,0,1,0,57
10,10,Honda,0,0,1,4,1,1,4,0,3,2,101,2,2,0,0
11,11,Audi,3,0,3,1,2,1,2,0,3,2,0,101,4,2,1
12,12,Lexus,0,0,0,0,0,1,0,0,5,1,0,0,97,0,0
13,13,Tesla,2,1,5,4,5,0,0,0,7,11,3,4,0,112,10
14,14,GMC,0,0,0,0,0,0,0,0,0,2,0,0,0,0,51

In [11]:
df2

,Unnamed: 0,Unnamed: 0.1,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,0,BMW,93,8,1,2,11,1,2,3,4,2,3,12,10,4,1
1,1,Mercedes-Benz,14,86,1,1,9,5,1,2,2,4,0,10,8,7,2
2,2,Ford,2,4,110,0,1,12,5,8,3,15,7,2,4,1,10
3,3,Hyundai,0,0,0,81,7,0,1,0,1,1,3,0,0,0,0
4,4,Kia,0,0,0,13,99,1,0,0,0,0,1,0,0,0,0
5,5,Ram,0,0,2,1,0,91,1,4,0,0,0,0,0,0,0
6,6,Subaru,0,0,0,0,0,0,109,0,0,0,0,0,1,0,0
7,7,Jeep,0,0,0,0,0,0,0,97,0,0,0,0,0,0,2
8,8,Toyota,1,0,4,1,4,7,7,2,103,4,10,1,12,0,4
9,9,Chevrolet,0,0,0,0,2,4,0,1,0,63,3,2,0,0,56
10,10,Honda,0,1,2,1,0,2,1,0,3,2,108,0,3,0,1
11,11,Audi,3,5,0,0,1,1,1,0,3,1,1,95,1,2,2
12,12,Lexus,0,0,0,0,1,0,0,1,4,0,1,1,97,0,0
13,13,Tesla,1,2,1,2,9,3,1,0,5,7,2,1,2,107,10
14,14,GMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,68

In [12]:
joined = df1+df2
joined = joined.drop(columns=['Unnamed: 0'])
joined

,Unnamed: 0.1,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMW,189,10,8,6,13,5,6,4,6,4,6,26,15,8,5
1,Mercedes-BenzMercedes-Benz,17,176,5,4,10,15,3,3,4,7,2,18,17,10,5
2,FordFord,3,5,215,4,8,18,8,12,8,22,11,6,6,7,19
3,HyundaiHyundai,0,0,1,173,12,1,2,0,1,2,4,2,0,0,0
4,KiaKia,0,1,0,33,203,1,0,1,1,1,2,0,0,0,0
5,RamRam,0,0,2,1,0,182,1,4,0,0,0,0,0,0,0
6,SubaruSubaru,1,0,0,0,0,0,217,1,0,0,0,1,3,0,0
7,JeepJeep,0,0,0,0,0,0,0,191,0,2,0,0,1,0,2
8,ToyotaToyota,1,2,9,7,5,9,15,7,204,9,15,4,28,2,6
9,ChevroletChevrolet,1,0,0,2,4,5,1,3,1,145,3,2,1,0,113
10,HondaHonda,0,1,3,5,1,3,5,0,6,4,209,2,5,0,1
11,AudiAudi,6,5,3,1,3,2,3,0,6,3,1,196,5,4,3
12,LexusLexus,0,0,0,0,1,1,0,1,9,1,1,1,194,0,0
13,TeslaTesla,3,3,6,6,14,3,1,0,12,18,5,5,2,219,20
14,GMCGMC,0,0,0,0,0,0,0,0,0,2,0,0,0,0,119

In [22]:
joined = df1 + df2 + df3 + df4 + df5 + df6
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMWBMWBMWBMWBMW,93,8,1,2,11,1,2,3,4,2,3,12,10,4,1
1,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,14,86,1,1,9,5,1,2,2,4,0,10,8,7,2
2,FordFordFordFordFordFord,2,4,110,0,1,12,5,8,3,15,7,2,4,1,10
3,HyundaiHyundaiHyundaiHyundaiHyundaiHyundai,0,0,0,81,7,0,1,0,1,1,3,0,0,0,0
4,KiaKiaKiaKiaKiaKia,0,0,0,13,99,1,0,0,0,0,1,0,0,0,0
5,RamRamRamRamRamRam,0,0,2,1,0,91,1,4,0,0,0,0,0,0,0
6,SubaruSubaruSubaruSubaruSubaruSubaru,0,0,0,0,0,0,109,0,0,0,0,0,1,0,0
7,JeepJeepJeepJeepJeepJeep,0,0,0,0,0,0,0,97,0,0,0,0,0,0,2
8,ToyotaToyotaToyotaToyotaToyotaToyota,1,0,4,1,4,7,7,2,103,4,10,1,12,0,4
9,ChevroletChevroletChevroletChevroletChevroletC...,0,0,0,0,2,4,0,1,0,63,3,2,0,0,56
10,HondaHondaHondaHondaHondaHonda,0,1,2,1,0,2,1,0,3,2,108,0,3,0,1
11,AudiAudiAudiAudiAudiAudi,3,5,0,0,1,1,1,0,3,1,1,95,1,2,2
12,LexusLexusLexusLexusLexusLexus,0,0,0,0,1,0,0,1,4,0,1,1,97,0,0
13,TeslaTeslaTeslaTeslaTeslaTesla,1,2,1,2,9,3,1,0,5,7,2,1,2,107,10
14,GMCGMCGMCGMCGMCGMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,68

In [13]:
joined['Unnamed: 0.1'] = df1['Unnamed: 0.1']

In [14]:
joined

,Unnamed: 0.1,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,189,10,8,6,13,5,6,4,6,4,6,26,15,8,5
1,Mercedes-Benz,17,176,5,4,10,15,3,3,4,7,2,18,17,10,5
2,Ford,3,5,215,4,8,18,8,12,8,22,11,6,6,7,19
3,Hyundai,0,0,1,173,12,1,2,0,1,2,4,2,0,0,0
4,Kia,0,1,0,33,203,1,0,1,1,1,2,0,0,0,0
5,Ram,0,0,2,1,0,182,1,4,0,0,0,0,0,0,0
6,Subaru,1,0,0,0,0,0,217,1,0,0,0,1,3,0,0
7,Jeep,0,0,0,0,0,0,0,191,0,2,0,0,1,0,2
8,Toyota,1,2,9,7,5,9,15,7,204,9,15,4,28,2,6
9,Chevrolet,1,0,0,2,4,5,1,3,1,145,3,2,1,0,113
10,Honda,0,1,3,5,1,3,5,0,6,4,209,2,5,0,1
11,Audi,6,5,3,1,3,2,3,0,6,3,1,196,5,4,3
12,Lexus,0,0,0,0,1,1,0,1,9,1,1,1,194,0,0
13,Tesla,3,3,6,6,14,3,1,0,12,18,5,5,2,219,20
14,GMC,0,0,0,0,0,0,0,0,0,2,0,0,0,0,119

In [15]:
joined.to_csv("Oct 26 merged small dataset 240.csv")