In [1]:
import pandas as pd

In [14]:
df1 = pd.read_csv("Oct 25 small dataset1.csv")
df2 = pd.read_csv("Oct 25 small dataset2.csv")
df3 = pd.read_csv("Oct 25 small dataset3.csv")
df4 = pd.read_csv("Oct 25 small dataset4.csv")
df5 = pd.read_csv("Oct 25 small dataset5.csv")
df6 = pd.read_csv("Oct 25 small dataset6.csv")

In [15]:
df1

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,12,1,0,0,1,0,1,1,0,1,1,2,2,1,0
1,Mercedes-Benz,1,16,0,0,1,1,0,0,0,1,0,3,0,2,0
2,Ford,0,1,17,0,0,2,2,1,0,2,0,0,1,1,0
3,Hyundai,0,0,0,15,3,0,0,0,0,1,1,0,0,0,0
4,Kia,0,0,0,3,20,1,0,0,0,0,1,0,0,0,0
5,Ram,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0
6,Subaru,0,0,0,0,0,0,19,0,0,0,0,0,0,0,0
7,Jeep,0,0,0,0,0,0,0,14,0,0,0,0,0,0,1
8,Toyota,0,0,0,0,0,4,1,1,16,1,2,0,2,0,0
9,Chevrolet,0,0,0,0,0,1,0,0,0,12,1,1,0,0,9
10,Honda,0,0,0,0,0,1,1,0,0,0,19,0,1,0,0
11,Audi,1,0,0,0,0,0,0,0,1,1,0,17,0,1,0
12,Lexus,0,0,0,0,0,0,0,1,1,0,1,0,16,0,0
13,Tesla,0,0,0,0,1,0,0,0,1,0,1,0,1,18,1
14,GMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10

In [16]:
df2

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,17,1,0,0,1,0,1,0,0,1,2,3,1,1,0
1,Mercedes-Benz,4,17,0,0,1,1,0,0,0,3,0,1,0,2,0
2,Ford,0,1,19,0,0,4,2,2,1,3,1,0,0,0,2
3,Hyundai,0,0,0,14,1,0,0,0,1,0,0,0,0,0,0
4,Kia,0,0,0,3,18,0,0,0,0,0,0,0,0,0,0
5,Ram,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0
6,Subaru,0,0,0,0,0,0,17,0,0,0,0,0,0,0,0
7,Jeep,0,0,0,0,0,0,0,14,0,0,0,0,0,0,1
8,Toyota,0,0,1,0,2,1,2,0,15,1,1,0,1,0,1
9,Chevrolet,0,0,0,0,0,1,0,0,0,12,0,1,0,0,12
10,Honda,0,0,0,0,0,1,0,0,2,0,18,0,0,0,0
11,Audi,0,0,0,0,1,1,0,0,0,0,1,15,0,0,1
12,Lexus,0,0,0,0,0,0,0,0,2,0,0,1,14,0,0
13,Tesla,0,0,0,0,2,0,0,0,1,4,1,1,1,18,2
14,GMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14

In [17]:
df1+df2

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMW,29,2,0,0,2,0,2,1,0,2,3,5,3,2,0
1,Mercedes-BenzMercedes-Benz,5,33,0,0,2,2,0,0,0,4,0,4,0,4,0
2,FordFord,0,2,36,0,0,6,4,3,1,5,1,0,1,1,2
3,HyundaiHyundai,0,0,0,29,4,0,0,0,1,1,1,0,0,0,0
4,KiaKia,0,0,0,6,38,1,0,0,0,0,1,0,0,0,0
5,RamRam,0,0,0,0,0,28,0,0,0,0,0,0,0,0,0
6,SubaruSubaru,0,0,0,0,0,0,36,0,0,0,0,0,0,0,0
7,JeepJeep,0,0,0,0,0,0,0,28,0,0,0,0,0,0,2
8,ToyotaToyota,0,0,1,0,2,5,3,1,31,2,3,0,3,0,1
9,ChevroletChevrolet,0,0,0,0,0,2,0,0,0,24,1,2,0,0,21
10,HondaHonda,0,0,0,0,0,2,1,0,2,0,37,0,1,0,0
11,AudiAudi,1,0,0,0,1,1,0,0,1,1,1,32,0,1,1
12,LexusLexus,0,0,0,0,0,0,0,1,3,0,1,1,30,0,0
13,TeslaTesla,0,0,0,0,3,0,0,0,2,4,2,1,2,36,3
14,GMCGMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24

In [18]:
joined = df1 + df2 + df3 + df4 + df5
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMWBMWBMWBMWBMW,77,7,0,1,9,1,2,3,4,2,3,11,8,4,0
1,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,10,75,0,0,7,5,1,2,2,4,0,10,7,7,1
2,FordFordFordFordFord,0,4,92,0,1,11,5,7,3,11,5,1,2,1,8
3,HyundaiHyundaiHyundaiHyundaiHyundai,0,0,0,65,7,0,1,0,1,1,2,0,0,0,0
4,KiaKiaKiaKiaKia,0,0,0,12,85,1,0,0,0,0,1,0,0,0,0
5,RamRamRamRamRam,0,0,1,1,0,73,0,3,0,0,0,0,0,0,0
6,SubaruSubaruSubaruSubaruSubaru,0,0,0,0,0,0,91,0,0,0,0,0,0,0,0
7,JeepJeepJeepJeepJeep,0,0,0,0,0,0,0,79,0,0,0,0,0,0,2
8,ToyotaToyotaToyotaToyotaToyota,0,0,3,1,2,7,6,1,84,3,7,1,9,0,2
9,ChevroletChevroletChevroletChevroletChevrolet,0,0,0,0,1,4,0,1,0,53,3,2,0,0,51
10,HondaHondaHondaHondaHonda,0,1,2,1,0,2,1,0,3,0,89,0,3,0,0
11,AudiAudiAudiAudiAudi,2,4,0,0,1,1,1,0,3,1,1,80,1,2,1
12,LexusLexusLexusLexusLexus,0,0,0,0,1,0,0,1,4,0,1,1,81,0,0
13,TeslaTeslaTeslaTeslaTesla,0,1,1,1,6,2,0,0,2,6,2,1,2,88,10
14,GMCGMCGMCGMCGMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,58

In [19]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [20]:
joined

,Unnamed: 0,The car brand BMW,The car brand Mercedes-Benz,The car brand Ford,The car brand Hyundai,The car brand Kia,The car brand Ram,The car brand Subaru,The car brand Jeep,The car brand Toyota,The car brand Chevrolet,The car brand Honda,The car brand Audi,The car brand Lexus,The car brand Tesla,The car brand GMC
0,BMW,77,7,0,1,9,1,2,3,4,2,3,11,8,4,0
1,Mercedes-Benz,10,75,0,0,7,5,1,2,2,4,0,10,7,7,1
2,Ford,0,4,92,0,1,11,5,7,3,11,5,1,2,1,8
3,Hyundai,0,0,0,65,7,0,1,0,1,1,2,0,0,0,0
4,Kia,0,0,0,12,85,1,0,0,0,0,1,0,0,0,0
5,Ram,0,0,1,1,0,73,0,3,0,0,0,0,0,0,0
6,Subaru,0,0,0,0,0,0,91,0,0,0,0,0,0,0,0
7,Jeep,0,0,0,0,0,0,0,79,0,0,0,0,0,0,2
8,Toyota,0,0,3,1,2,7,6,1,84,3,7,1,9,0,2
9,Chevrolet,0,0,0,0,1,4,0,1,0,53,3,2,0,0,51
10,Honda,0,1,2,1,0,2,1,0,3,0,89,0,3,0,0
11,Audi,2,4,0,0,1,1,1,0,3,1,1,80,1,2,1
12,Lexus,0,0,0,0,1,0,0,1,4,0,1,1,81,0,0
13,Tesla,0,1,1,1,6,2,0,0,2,6,2,1,2,88,10
14,GMC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,58

In [9]:
joined.to_csv("Oct 25 merged small dataset 2500.csv")